<nav class="navbar p-4 px-5 navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="#">Arbitrage Tool</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item dropdown active">
          <a href="{{url_for('futures_arbitrage')}}" class="nav-link">Spot-Futures</a>
        </li>
        <li class="nav-item dropdown active">
          <a href="{{url_for('spot_arbitrage')}}" class="nav-link">Spot-Spot</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if not current_user.is_authenticated %}
        <li class="nav-item dropdown active mr-2 ml-2">
          <button type="button" class="btn btn-primary d-flex justify-content-center" onclick="window.location.href=`{{url_for('register')}}`;">
            <i class="material-icons mr-1">person</i><span class="mr-1">Sign Up</span>
          </button>
        </li>
        <li class="nav-item dropdown active mr-2 ml-2">
          <button type="button" class="btn btn-outline-primary d-flex justify-content-center" onclick="window.location.href=`{{url_for('login')}}`;">
            <i class="material-icons mr-1">login</i><span class="mr-1">Log In</span>
          </button>
        </li>
        {% endif %}
        {% if current_user.is_authenticated %}
          <li class="nav-item dropdown active mr-2 ml-2">
            <div class="dropdown">
              <button type="button" class="btn btn-primary d-flex justify-content-center" data-toggle="dropdown">
                <i class="material-icons mr-1">person</i><span class="mr-1">Profile</span>
                <i class="material-icons">expand_more</i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item">Profile</a>
                <a href="#" class="dropdown-item">Dashboard</a>
                <a href="#" class="dropdown-item">Deposit</a>
                <div class="dropdown-divider"></div>
                <a href="{{url_for('logout')}}" class="dropdown-item">Log out</a>
              </div>
            </div>
          </li>
        {% endif %}
      </ul>
    </div>
</nav>
<script src="{{ url_for('static', filename='js/header.js') }}"></script>