{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
{% endblock head %}

{% block body %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
{% include "header.html" %}
<div class="p-5">
    <table id="main_table" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">coin</th>
                <th scope="col">futures price</th>
                <th scope="col">spot price</th>
                <th scope="col">futures market</th>
                <th scope="col">spot market</th>
                <th scope="col">funding rate</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
<script src="{{ url_for('static', filename='js/spot_futures.js') }}"></script>
{% endblock body %}


